.suggestions {
    list-style: none;
    padding: 0;
    margin: 0;
    border: 1px solid #aaa;
    border-radius: 0 0 4px 4px;
    margin-top: -4px;
    padding-top: 4px;
    box-shadow: 0 8px 6px -6px #aaa;
    max-height: 400px;
    overflow-y: scroll;
}

.suggestion {
    padding: 8px;
    cursor: pointer;
    display: flex;
    align-items: baseline;
}

.suggestion:hover,
.suggestion:focus {
    background-color: #eee;
    outline: none;
}

.nodata:hover,
.nodata:focus {
    background-color: inherit;
    cursor: initial;
}

.nrResuts {
    margin-left: 6px;
    flex: 1;
    display: flex;
    justify-content: flex-end;
}
